<div class="headerBar">
  <span class="appTitle">Expense Tracker</span>
  <a href="#/SignUp" class="signupLink">Create an account</a>
  <a href="#/Login" class="loginLink">Sign in</a>
</div>
<div class="introContent">
  <p>Welcome to Expense Tracker!</p>
  <p>Expense Tracker is an app that allows you to record and view all of the ways in which you waste
     your money. Do you wonder 'Why am I always broke?'?
     Expense Tracker can help you figure that out! Why not <a href="#/SignUp">create an account</a>?
</div>