<div class="printable modal-body">
<div>
  <h4 class="modalTitle">Expenses by week</h4>
  <button ng-click="print()" class="btn btn-default printButton">Print</button>
</div>
<table class="table">
  <thead>
    <tr>
      <th>Week starting</th>
      <th>Total amount</th>
      <th>Daily average</th>
    </tr>
  </thead>
  <tr ng-repeat="week in weeks">
    <td>{{week.key | date:'MM/dd/yyyy'}}</td>
    <td>{{week.sum_amount | currency}}</td>
    <td>{{week.daily_average | currency}}</td>
  </tr>
</table>
</div>